.status_bar{
    display: flex;
    justify-content: space-between;
}

.status_bar__column{
    display: flex;
    align-items: center;
    padding: 5px;
}

.status_bar__column i{
    margin:0px 5px;
}
