.cocoa_warn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 15px 0px ;
}
.cocoa_warn div {
    margin: 0px 10px 0px 10px;
}
.cocoa_warn i {
    opacity: 0.3;
}
